<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 05 - Flask</title>
</head>
<body style="background-color: rgb(100, 69, 189); color: antiquewhite;">
    <h1><center>MINHA PRIMEIRA LINHA DE CÓDIGO NO FLASK</center></h1>
    <h2>TESTANDO</h2>
    <hr>
    <h3>PRIMEIROS PASSOS</hr1>
    <ul>
        <li>Criar mais rotas</li>
        <li>Criar link entre as páginas</li>
        <li>Criar conteúdo estático, css e imagens</li>
    </ul>
<br>

<a href="{{ url_for('sac') }}">FALE CONOSCO</a>
</body>
</html>
